@tailwind base;
@tailwind components;
@tailwind utilities;

button {
	@apply
		p-2
		m-1
    border-button
		bg-light
		transform
    hover:bg-medium
		active:scale-95
		text-darker
    transition-all
		rounded-custom
	;
}

@layer utilities {
}
